<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="bg.js"></script>
      <link rel="stylesheet" href="bg.css" media="screen" type="text/css" />
   
    </style>
</head>
<body>
  
  <h1>ADD YOUR FUTURE EXPENSE</h1>
        <section id="wrapper">
        <div class="box">
          <div class="row">
            <div class="col-6">
              <div class="comment">
            <p v-for="items in item" v-text="items"></p>
              </div>
              </div>
              </div>
          <div class="row">
            <div class="col-6">
          <textarea type="text" class="input" placeholder="Your future expense" v-model="newItem" @keyup.enter="addItem()"></textarea>
              <button v-on:click="addItem()" class='btn-box' type="submit">Add Expense</button>
            </div>
          </div>
        </div>
      </section>
      
      
      
          
    <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.14/vue.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js'></script>
    <script>
            $(document).ready(function(){ 
     
        $(".btn-box").on('click', function(){
        $(".comment").addClass("afterText");
      });
      $("textarea").on('keyup.enter', function(){
        $(".comment").addClass("afterText");
      });
      });
     
    new Vue({
        el: "#wrapper",
        data:{
          newItem: '',
          item: [],
        },
        methods:{
          addItem  (){
          this.item.push(this.newItem);
            this.newItem = "";
          }
      }
     
      });
    </script>
</body>
</html>